h1,h2 {
    display: grid; 
    place-items: center; 
}
button:hover{
    background-color: rgba(199, 199, 199, 0.829);
}
button:onclick{
    background-color: rgb(204, 204, 204);
}
.centered{
    display: grid; 
    place-items: center;
}