<nav>
  <ul>
    <li><a routerLink="/orderlist">Order List</a></li>
  </ul>
</nav>
<div *ngIf="order">
  <div class="container">
    <h1>Order Info</h1>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th class="roundedtopleft">OrderId</th>
            <th>Buyer Address</th>
            <th>Amount</th>
            <th class="roundedtopright">State</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hoverable">
            <td id="roundedbottomleft"class="text" data-label="Id">{{order.id}}</td>
            <!-- inserire qui un bottone visibile solo da mobile che permette di copiare l'address anziche farlo vedere che occupa mezzo schermo -->
            <td data-label="Address" class="addressText">{{order.buyerAddress}}</td>
            <td class="text"data-label="Amount">{{order.amount}}</td>
            <td id="roundedbottomright" data-label="State" [ngStyle]="{'color':Color[order.state]}" class="state">{{States[order.state] | uppercase }}</td>
            <!-- btn info é una classe bootstrap-->
          </tr>
        </tbody>
      </table>
    </div>
  <h2 *ngIf="order.state === 3">No avaiable actions on this order</h2>
  <div *ngIf="order.state != 3" class="centered">
    <h2 >Possible Actions on this Order</h2>
      <div class="">
        <a href="{{link}}" download><button type="button" mat-raised-button (click)="downloadQrImage()">Download QrCode</button></a>
        <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value" class="coolQRCode" hidden></ngx-qrcode>
        </div>
  <div class="">
    <div *ngIf="order.state === 0 || order.state === 1">
      <button mat-raised-button (click)="deleteOrder()">Delete Order</button>
    </div>
    <div *ngIf="order.state === 0">
      <button mat-raised-button (click)="shipOrder()">Ship Order</button>
    </div>
    <div *ngIf="order.state === 4">
      <button mat-raised-button (click)="refundBuyer()">Refund Buyer</button>
    </div>
  </div>
  </div>
  <app-order-log></app-order-log>
  <div id="overlay" hidden>
  <img id="loading" src="../../assets/images/output-onlinegiftools.gif"/>
  <p id="loadingtext">Waiting for Transaction...</p>
  <p>Transaction ended with error: </p>{{this.errorCode}}
  </div>
</div>
</div>


