
<div>
<div>
<h1>Order Info</h1>
</div>
<div *ngIf="order">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>OrderId</th>
                  <th>Buyer Address</th>
                  <th>Amount</th>
                  <th>State</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{order.id}}</td>
                  <!-- inserire qui un bottone visibile solo da mobile che permette di copiare l'address anziche farlo vedere che occupa mezzo schermo -->
                  <td>{{order.buyerAddress}}</td>
                  <td>{{order.amount}}</td>
                  <td [ngStyle]="{'color':Color[order.state]}" class="state">{{States[order.state] | uppercase }}</td>
                  <!-- btn info é una classe bootstrap-->
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
  <h2 *ngIf="order.state === 3">No avaiable actions on this order</h2>
  <div *ngIf="order.state != 3" class="centered">
    <h2 >Possible Actions on this Order</h2>
      <div class="container">
        <a href="{{link}}" download><button type="button" mat-raised-button (click)="downloadQrImage()">Download QrCode</button></a>
        <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value" class="coolQRCode" hidden></ngx-qrcode>
        </div>
    <div *ngIf="order.state === 0 || order.state === 1">
      <button mat-raised-button (click)="deleteOrder()">Delete Order</button>
    </div>
    <div *ngIf="order.state === 0">
      <button mat-raised-button (click)="shipOrder()">Ship Order</button>
    </div>
    <div *ngIf="order.state === 4">
      <button mat-raised-button (click)="refundBuyer()">Refund Buyer</button>
    </div>
    <div>
      <button mat-raised-button (click)="askRefund(numberId)">Ask refund</button>
    </div>
    <div>
      <button mat-raised-button (click)="createOrder(signerAddress)">Create Order</button>
    </div>
  </div>
  <div id="overlay" hidden>
  <img id="loading" src="../../assets/images/output-onlinegiftools.gif"/>
  <p id="loadingtext">Waiting for Transaction...</p>
  <p>Transaction ended with error: </p>{{this.errorCode}}
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
      </div>
    </div>
  </div>
  <app-order-log></app-order-log>
</div>
</div>


