div {
    display: grid; 
    place-items: center; 
}
.table{
    width: 80%;
}
button:hover{
    background-color: rgba(199, 199, 199, 0.829);
}
button:onclick{
    background-color: rgb(204, 204, 204);
}