/* MOBILE */
/* body{
  --desktop: 1200px;
  --laptop: 1024px;
  --tablet: 768;
  --phone: 480px;
} */
/* filtri */
#idFilter ::ng-deep .mat-form-field-appearance-outline {
  width: 65px;
  height: 45px;
  line-height: 1.725;
  color: red;
}

#idFilter ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0px 10px 0px 10px;
  color: rgb(36,82,122);
}

#idFilter ::ng-deep .mat-form-field-infix {
  padding: 3px 0 3px 0;
}

#idFilter ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
  text-align: center;
  top: -25px;
}

#idFilter ::ng-deep .mat-form-field-should-float {
  text-align: center;
}
#AddressMatInput ::ng-deep .mat-form-field-appearance-outline{
  width: 200px;
  height: 45px;
}
/* movile */
/* @media screen and (max-width: 480px){
  .table td.addressText{
    display: none;
  }
} */
/* tablet*/
/* @media screen and (max-width: 768px) {
  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table tbody tr td{
    text-align: right !important;
    padding-left: 50%;
    position: relative;
  }
  .table td:before{
    vertical-align: middle;
    color: #FFFFFF;
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
} */
/* desktop */
/* .table-container{
  padding-left: 0 10%;
  margin:  40px auto 0;
}
.table{
  width: 100%;
  border-collapse: collapse;
}
.table thead{
  background-color: rgb(36, 82, 122);
}
.table thead tr th{
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.35px;
  color: #FFFFFF;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
}
.table tbody tr td{
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: #3c3f44;
  padding: 8px;
  text-align: center;
  border: 1px solid #dee2e685;
}*/
 .centered{
  display: grid; 
  place-items: center;
} 
/* NORMALE */
#codeButton{
  display: none;
}
h1 {
    display: grid; 
    place-items: center; 
}
button{
  background-color: rgb(36,82,122);
  color: rgb(92,173,189);
}
button:hover{
  background-color: rgb(92,173,189);
  color: rgb(36,82,122);
}
