h1 {
    display: grid; 
    place-items: center; 
}
.state{
  font-weight: bold;
  /* text-shadow: 2px 0 0 rgb(36,82,122), -2px 0 0 rgb(36,82,122), 0 2px 0 rgb(36,82,122), 0 -2px 0 rgb(36,82,122), 1px 1px rgb(36,82,122), -1px -1px 0 rgb(36,82,122), 1px -1px 0 rgb(36,82,122), -1px 1px 0 rgb(36,82,122); */
}
button{
  background-color: rgb(36,82,122);
  color: rgb(92,173,189);
}
button:hover{
  background-color: rgb(92,173,189);
  color: rgb(36,82,122);
}
.table-striped>tbody>tr{
  text-align: center;
  border-radius: 35px;
  box-shadow: 0 1px 6px rgba(36, 82, 122, 0.642), 0 1px 3px rgba(36, 82, 122, 0.593);
  background-color: rgba(207, 230, 250, 0);
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}
.table > tbody {
  vertical-align: 0px;
  background-color: rgba(207, 230, 250, 0);
}
.table {
  border-collapse: separate;
  border-spacing:0 20px;
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.0);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(36, 82, 122, 0.593);
  /* --bs-table-hover-color: var(--bs-body-color); */
  --bs-table-hover-bg: rgba(0, 0, 0, 0.0);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}
/* COLORE TESTO */
#idFilter ::ng-deep .mat-form-field-appearance-outline {
  width: 65px;
  height: 45px;
  line-height: 1.725;
  color: red;
}

#idFilter ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0px 10px 0px 10px;
  color: rgb(36,82,122);
}

#idFilter ::ng-deep .mat-form-field-infix {
  padding: 3px 0 3px 0;
}

#idFilter ::ng-deep .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
  text-align: center;
  top: -25px;
}

#idFilter ::ng-deep .mat-form-field-should-float {
  text-align: center;
}
#AddressMatInput ::ng-deep .mat-form-field-appearance-outline{
  width: 200px;
  height: 45px;
}
/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
  text-align: center;
  border-radius: 35px;
  box-shadow: 0 1px 6px rgba(36, 82, 122, 0.642), 0 1px 40px rgba(36, 82, 122, 0.593);
  background-color: rgba(207, 230, 250, 0.293);
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
  text-align: center;
  border-radius: 35px;
  box-shadow: 0 1px 6px rgba(36, 82, 122, 0.642), 0 1px 40px rgba(36, 82, 122, 0.593);
  background-color: rgba(207, 230, 250, 0.293); 
} */