button{
    background-color: rgb(36,82,122);
    color: rgb(92,173,189);
}

button:hover{
    background-color: rgb(92,173,189);
    color: rgb(36,82,122);
}
.logo{
    height: 8%;
    width: 8%; 
}
.home{
    display: grid;
    place-items: center;
}
.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 55px;
    padding: 50px;
    box-shadow: 0 1px 6px rgba(36, 82, 122, 0.642), 0 1px 40px rgba(36, 82, 122, 0.593);
    background-color: rgba(207, 230, 250, 0.293);
}
/* .container h1,p,h2{
    color: white;
} */