button{
    background-color: rgb(36,82,122);
    color: rgb(92,173,189);
}

button:hover{
    background-color: rgb(92,173,189);
    color: rgb(36,82,122);
}
.logo{
    height: 8%;
    width: 8%; 
}
.home{
    display: grid;
    place-items: center;
}
