<div *ngIf = "!metmaskConnectionService.signer" class="connect-button">
    <p>Non hai Metamask installato nel browser</p>
    <button onclick="window.location.href='https://metamask.io/download/'">Installa Metamask</button>
</div>
<div *ngIf = "metmaskConnectionService.signer">
<p>Indirizzo del contratto:</p>
<p>{{metmaskConnectionService.tokenAddress}}</p>
<p>Il tuo indirizzo metamask:</p>
<p>{{metmaskConnectionService.signerAddress}}</p>
<a routerLink="/orderlist">
    <button routerLink="/orderlist">Vai a vedere la lista ordini</button>
</a>

</div>

