<mat-toolbar>
    <img [src]="logoSrc" class="logo"/>
    <img [src]="logoSrc2" class="logot"/>
    <!-- <span>Shopchain</span> -->
    <span class="example-spacer"></span>
      <!-- <mat-icon>account_balance_wallet</mat-icon> -->
    <ul>
    <li><p>Balance: {{metamaskConnectionService.sellerBalance}} AVAX</p></li>
    <li><p><a href="https://testnet.snowtrace.io/address/{{metamaskConnectionService.truncatedSignerAddress}}">{{metamaskConnectionService.truncatedSignerAddress}}</a></p></li>
</ul>
</mat-toolbar>
    <!--{{metamaskConnectionService.signerAddress}}-->
  <!-- </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="push">
  <p>I am navbar !!</p>
  </mat-drawer>
  <div class="example-sidenav-content">
  <button type="button" mat-button color="primary" (click)="drawer.toggle()">
  click me!!
  </button>
  </div>
  <app-login></app-login>
  </mat-drawer-container> -->