/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(242, 242, 242); 
    /* background-color: rgb(37, 37, 37); */
 }
/* desktop */
@media screen and (min-width: 769px) {
  #showInMobile{
    display: none;
  }
.addressText{
  text-align: center;
  vertical-align: baseline;
  margin-bottom: 0px;
}
.table-container{
  padding-left: 0 10%;
  margin:  40px auto 0;
  padding-bottom: 40px;
}
.table{
  width: 100%;
  border-collapse: collapse;
}
.table thead{
  text-align: center;
  background-color: rgb(36, 82, 122);
}
.table thead tr th{
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.35px;
  color: #FFFFFF;
  opacity: 1;
  padding: 12px;
  /* vertical-align: top; */
  border: 1px solid #dee2e685;
}
.table tbody tr td{
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #f1f1f1;
  background-color: #3c3f44;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #dee2e685;
}

.breadcrumb-navigation > li {
  display: inline;
}

.mat-icon{
  font-size: small;
  width: 12px !important;
}
}
/* tablet*/
@media screen and (max-width: 768px) {
  /* table */
  #showInMobile{
    display: none;
  }
  .table-container{
    padding-left: 0 10%;
    margin:  40px auto 0;
    padding-bottom: 40px;
  }
  .table{
    width: 100%;
    border-collapse: collapse;
  }
  #showInMobile{
    display: none;
  }
  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr, .table td{
    display: block;
    width: 100%;
  }
  .table tr{
    margin-bottom: 15px;
  }
  .table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #f1f1f1;
    background-color: #3c3f44;
    padding: 8px;
    vertical-align: middle;
    display:flex;
    justify-content:space-between;
    margin-bottom: 0px;
  }
  .table tbody tr td p{
    text-align: right;
    /* padding-left: 400px; */
  }
  .table td::before{
    color: white;
    content: attr(data-label);
    font-weight: 600;
    vertical-align: middle;
    font-size: 14px;
  }
  /* .addressText{
    text-align: right;
  } */
  /*  other*/
  .breadcrumb-navigation > li {
    display: inline;
  }
  
  .mat-icon{
    font-size: small;
    width: 12px !important;
  }
}

/* .hoverable:hover {
    /* background-color: #f5f5f5; */
    /* transform: scale(1.05);
    transition: all 0.4s; */
    /* box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2); 
} */
/* body{
    --desktop: 1200px;
    --laptop: 1024px;
    --tablet: 768;
    --phone: 480px;
} */
/* movile */
@media screen and (max-width: 532px){
  .addressText{
    display: none;
  }
  #showInMobile{
    display: block;
  }
}